.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
section>div>img.portrait {
    display: inline-block;
    width: 360px;
    border-radius: 5px;
    border: 10px solid #f4f5f8;
    float: left;
}
.container>.row .about {
    display: inline-block;
    float: left;
    width: 42%;
    padding: 0 0 0 40px;
    margin-bottom: 20px;
    align-items: center;
}
    .about>h4 {
        display: inline-block;
        text-transform: capitalize;
        color: #484848;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid #f5f5f5;
        position: relative;
        font-size: 2rem;
        margin-bottom: 50px;
        padding-bottom: 10px;
    }
        h4>span {
            color: #9c27b0;
        }
        .about>h4::before {
            content: "";
            width: 60px;
            background-color: #9c27b0;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    .about h5 {
        text-transform: uppercase;
        margin-bottom: 20px;
        letter-spacing: 1.8px;
        font-weight: 500;
        font-size: 16px;
    }
    .about p{ 
        color: #777;
        margin-bottom: 20px;
        padding-bottom: 20px;
        line-height: 1.7em;
        border-bottom: 1px solid #f5f5f5;
        width: 100%;
    }
    .info {
        display: inline-block;
        width: 100%;
    }
        .info.left {
            display: inline-block;
            float: left;
            width: 50%;
        }
            .info ul {
                list-style: none;
                color: #282830;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 14.4px;

            }
            .info li {
                margin-bottom: 20px;
                line-height: 1.8em;
            }
                li>span {
                    color: #676767;
                    padding: 0 0.5rem;
                    text-transform: capitalize;
                    display: inline-block;
                }
        .info.right {
            display: inline-block;
            float: right;
            width: 50%;
            padding-left: 10px;
        }
    