.container>.row>.image>img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 10px solid var(--background-color);
}
.container>.row >.image.col-4 {
    margin-bottom: var(--section-heading-space);
}
.container>.row .about {
    display: inline-block;
    float: left;
    margin-bottom: var(--main-space);
}
    .about h5 {
        display: inline-block;
        text-transform: uppercase;
        margin-bottom: var(--main-space);
        letter-spacing: 1.8px;
        font-family:'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 19px;
        
    }
    .about p{ 
        display: inline-block;
        color: var(--text-main-color);
        margin-bottom: var(--main-space);
        padding-bottom: var(--main-space);
        line-height: 1.7em;
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 400;
        border-bottom: 1px solid #f5f5f5;
        width: 100%;
    }
    .about > .info {
        display: inline-block;
        width: 100%;
        margin-bottom: var(--main-space);
    }
        .info.left {
            display: inline-block;
            float: left;
            width: 37%;
        }
            .info ul {
                list-style: none;
                color: var(--footer-color);
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;

            }
            .info li {
                margin-bottom: var(--main-space);
                line-height: 1.8em;
            }
                li>span {
                    color: #676767;
                    padding: 0 0.5rem;
                    text-transform: capitalize;
                    display: inline-block;
                }
        .info.right {
            display: inline-block;
            float: right;
            width: 60%;
            padding-left: 10px;
        }
@media (min-width: 1190px) {
    .container>.row>.image.col-4 {
        grid-column: 2 / span 4;
    }
}
@media (max-width: 750px) {
    .info.right {
        width: 100%;
        padding: 0;
    }
    .info.left {
        width: 100%;
    }
}