.btn {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    background: var(--main-color);
    border-radius: 25px;
    position: relative;
    padding: 1em;
    line-height: 1em;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.5s;
    border: none;
}

.btn::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    transform: scaleX(0);
    transform-origin: 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
  }
    .btn:hover, .btn:focus, .btn:active {
      color: var(--title-color);
      cursor: pointer;
    }
    .btn:hover:after, .btn:focus:after, .btn:active:after {
      transform: scaleX(1.099);
      border-radius: 25px;
    }