.button {
    background-color: #9c27b0;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 15px 35px;
    letter-spacing: 1px;
    display: inline-block;
    text-transform: uppercase;
    border: 0;
    border-radius: 30px !important;
    margin-top: 20px;
}