.container.counter {
    background: url(../../img/client.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}
    .container.counter > .row {
        z-index: 1;
    }
        .counter .col-3 {
            padding: 0 15px;
        }
            .block-counter {
                text-align: center;
            }
                .counter-icon {
                    color: var(--main-color);
                    margin-bottom: 30px;
                    font-size: 30px;
                    transition: all 0.3s;
                }
                .block-counter:hover > .counter-icon {
                    transform: scale(1.1);
                }
                .integers {
                    font-size: 1.5rem;
                    font-weight: 800;
                    font-style: italic;
                    color: #FFFFFF;
                    margin-bottom: var(--main-space);
                }
                .counter-label {
                    color: var(--clients-text-color);
                    font-size: 0.9rem;
                    font-weight: 600;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    margin-bottom: 8px;
                }


@media (max-width: 860px) {
    .container {
        grid-template-columns: 1fr 640px 1fr;
    }
    .container.counter .col-sm-6:nth-child(odd) {
            grid-column: 2 / span 5;
        }
        .container.counter .col-sm-6:nth-child(even) {
            grid-column: auto / span 5; 
        }
    .counter-icon {
        margin-bottom: 10px;
    }

@media (max-width: 680px) {
    .container {
        grid-template-columns: 20px 1fr 20px;
    }
    .container.counter > .row > .col-xs-12 { 
        grid-column: auto / span 12; 
        padding: 0;
    }
    .container.counter > .row {
        row-gap: 25px;

    }
    .counter-icon {
        margin-bottom: 10px;
    }
 }