.container.hero {
    background-image: url(../../img/header.jpg);
    display: grid;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    min-height: 100vh;
}
    .container.hero::before {
        content: "";
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .container.hero > * {
        z-index: 10;
    }

.container.hero > .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
    .container.hero .row > span {
        text-align: center;
        display: inline-block;
        grid-column: 4/8;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        font-weight: 100;
        color: #bdbdbd;
    }
    h1 {
        text-align: center;
        display: inline-block;
        grid-column: 3/11;
        font-family: 'Raleway', sans-serif;
        font-size: 64px;
        font-weight: 490;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
        color: #fff;
    }
    ul {
        text-align: center;
        list-style: none;
        display: inline-block;
        letter-spacing: 5px;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        padding: 4px 16px;
        color: #bdbdbd;
        border-top: 1px solid rgba(255, 255, 255, 0.07);
        border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    }
    span > .typed-cursor {
        display: inline-block;
        font-family: 'Raleway', sans-serif;
    }
    .container.hero .row > .social-icon {
    }