.container.hero {
    background-image: url(../../img/header.jpg);
    text-align: center;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    min-height: 100vh;
}
    .container.hero::before {
        content: "";
        background: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .container.hero > .row {
        z-index: 10;
    }  
        .hero > .row > .row > span {
            width: 100%;
            display: block;
            margin-bottom: 20px;
            font-family: 'Raleway', sans-serif;
            font-size: 23px;
            color: #bdbdbd;
        }
        .hero > .row > .row > h1 {
            width: 100%;
            display: block;
            margin-bottom: 30px;
            font-family: 'Raleway', sans-serif;
            font-size: 60px;
            font-weight: 490;
            text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
            color: #fff;
        }
        .hero .row > .row ul {
            display: inline-block;
            margin-bottom: 16px;
            list-style: none;
            letter-spacing: 5px;
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            line-height: 30px;;
            color: #bdbdbd;
            border-top: 1px solid rgba(255, 255, 255, 0.07);
            border-bottom: 1px solid rgba(255, 255, 255, 0.07);
        }
            ul > span > .typed-cursor {
                font-family: 'Raleway', sans-serif;
            }
        .social-icon {

            width: 100%;
        }
            .hero .row .fa {
                text-decoration: none;
                cursor: pointer;
                display: inline-block;
                color: white;
                margin: 5px;
                padding: 10px;
                line-height: 20px;
                width: 40px;
                transition: all 0.4s;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.1);
            }
                .hero .row .fa:hover {
                    background-color: var(--main-color);
                }
@media (max-width: 760px) {
    .hero > .row > .row > span {
        font-size: 16px;
    }
    .hero > .row > .row > h1 {
        font-size: 32px;
    }
    .hero .row > .row ul > li {
        font-size: 10px;
    }
    .hero .row .fa {
        margin: 2px;
    }

}