.container.navbar {
    background-color: var(--background-color);
    padding: 8px 16px;
}
    .navbar-logo > img {
        width: 100px;
        height: 40px;
    }
        .navbar-logo .black {
            display: none;
        }
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
        .nav-links > .nav-a {
            order: 7;
            background: none;
            font-size: 15px;
            text-decoration: none;
            color: #FFFFFF;
            margin: 0 15px;
        }
        .nav-links > .nav-a:hover {
            color: var(--main-color);
        }
        .nav-links > .nav-a.activeNavLink {
            color: var(--main-color);
        }
    .navbar .menu-btn {
        display: none;
    }