.container.navbar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    z-index: 10;
}
.row.navmenu {
    padding: 15px 0;
}
.navmenu * {

    font-family: 'Roboto', sans-serif;
    } 
    .navbar-logo{
        align-self: flex-start;
    }
        .navbar-logo a > img {
            width: 100px;
            height: 40px;
        }
     .over-bar .navbar-logo .over-bar {
        display: none;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        transition: all 0.4s ease;
    }
        .nav-links > .nav-a {
            font-size: 15px;
            text-decoration: none;
            margin: 0 10px;
            color: #e6e6e6;
        }
        .nav-links .nav-a:first-of-type {
            color: var(--main-color);
        }
            .nav-links > .nav-a:hover {
                color: var(--main-color);
            }
    .navbar .menu-btn {
        display: none;
    }
    .navbar.white {
        width: 100%;
        background-color: #fff;
        position: fixed;
        z-index: 10;
        transition: all 0.4s ease;
    }
        .white .navmenu {
            padding: 10px 0;
        } 
        .white .navbar-logo .white {
            display: none;
        }
        .white .nav-links > .nav-a{
            color: var(--h4-color);
            padding: 10px 0;
            transition: all 0.4s ease;
        }
            .white .nav-links > .nav-a:first-of-type{
                color: var(--main-color);
            }
            .white .nav-links > .nav-a:hover {
                color: var(--main-color);
            }
    

@media (max-width: 860px){
    .container.navbar {
        column-gap: 10px;
        left: 0;
        right: 0;
        transform: none;
    }

    .navmenu > .nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
        .nav-links > .nav-a{
            margin: 0 10px;
        }
}