.filtering {
    margin-bottom: var(--section-heading-space);
}
    .filtering .portfolio-btn {
        background: inherit;
        position: relative;
        margin: 0px 10px;
        padding: 5px 5px;
        font-size: 14px;
        letter-spacing: 2px;
        color: var(--text-main-color);
        cursor: pointer;
        border: none;
        text-decoration: none;
        outline: none;
    }
    .portfolio-btn.active {
        color: var(--main-color);
        border-top:solid 1px #f4f5f8;
    }
    .portfolio-btn.active::after {
        content: '';
        position: absolute;
        left: 45%;
        top: 30px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: var(--main-color);
    }
    .portfolio-btn:hover {
        color: var(--main-color);
    }
    .portfolio-btn:hover::after {
        content: '';
        position: absolute;
        left: 45%;
        top: 30px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: var(--main-color);
    }
.container-portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
    .w-3 {
        grid-column: span 2;
    }
    .h-2 {
        grid-row: span 2;
    }
    .h-1 {
        grid-row: span 1;
    }
    .h-3 {
        grid-row: span 3;
    }
        .gallery-item>img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            border: 1px solid #f4f5f8;
            border-radius: 4px;
        }
        .gallery-item .portfolio-hover:hover {
            opacity: 1;
        }
        .gallery-item .portfolio-hover {
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.9);
            border: 1px solid #f7f7f7;
            opacity: 0;
            overflow: hidden;
            -webkit-transition: all .5s;
            transition: all .5s;
            color: #fff;
            z-index: 1;
            color: black;
        }
        .cap {
            position: absolute;
            bottom: 70%;
            margin-bottom: -44px;
            margin-left: -40px;
            left: 50%;
        }
            .portfolio-hover>.cap>h6 {
                margin-bottom: 20px;
                color: #111;
                font-weight: 900;
                font-size: 1rem;
            }
                span.i>a {
                    text-decoration: none;
                    color: var(--main-color);
                    margin: 1rem;
                    font-size: 1.2rem;
                }
@media (max-width: 780px) {
    .container-portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery-item.w-3.h-3 {
        grid-column: span 1;
        grid-row: span 2;
    }
}
@media (max-width: 680px) {
    .container-portfolio {
        grid-template-columns: 1fr;
    }
}