    .filtering {
        margin-bottom: var(--section-heading-space);
    }
        .filtering .button {
            background: inherit;
            position: relative;
            margin: 0px 10px;
            padding: 5px 5px;
            font-size: 14px;
            letter-spacing: 2px;
            color: var(--text-main-color);
            cursor: pointer;
            border: none;
            border-top:solid 1px #f4f5f8;
        }
    .container-portfolio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .gallery-container{
        position: relative;
        overflow: hidden;
        z-index: 1;
    }

    .image {
        width: 100%;
        overflow: hidden;
    }
        .image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 50%;
            border: 1px solid #f4f5f8;
            border-radius: 4px;
        }

    .gallery-overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffffcc;
        width: 90%;
        height: 90%;
        transition: all 0.5s ease-in-out;
        opacity: 0;
        border-radius: 2px;
        z-index: 10;
    }
        .gallery-container:hover .gallery-overlay {
            opacity: 1;
        }
        .gallery-container:hover .gallery-over-links{
            transform: translateY(0%);
        }
            .gallery-over-links {
                display: inline-block;
                transform: translateY(150%);
                width: 100%;
                height: 40%;
                /* background-color: aqua; */
                /* margin-left: ; */
                transition: all 0.4s ease-in-out;
            }
            .gallery-over-links > h5 {
                display: inline-block;
                font-family: 'Montserrat', sans-serif;
                font-weight: 700;
                letter-spacing: 0.1em;
                width: 100%;
                font-size: 15px;
                margin-bottom: 30px;
            }
            .gallery-over-links > a {
                text-decoration: none;
                color: var(--main-color);
                width: 30px;
                height: 30px;
                padding: 5px;
                margin: 0 10px;
            }
                .gallery-over-links > a:hover{
                    color: var(--clients-text-color);
                }
                .icon-link.fa-link{
                    transform: rotate(-45deg);
                }

        .w-3 {
            grid-column: span 2;
        }
        .h-2 {
            grid-row: span 2;
        }
        .h-1 {
            grid-row: span 1;
        }
        .h-3 {
            grid-row: span 3;
        }

             