.filtering {
    margin-bottom: var(--section-heading-space);
}
    .filtering .portfolio-btn {
        background: inherit;
        position: relative;
        margin: 0px 10px;
        padding: 5px 5px;
        font-size: 14px;
        letter-spacing: 2px;
        color: var(--text-main-color);
        cursor: pointer;
        border: none;
        text-decoration: none;
        outline: none;
    }
    .portfolio-btn.active {
        color: var(--main-color);
        border-top:solid 1px #f4f5f8;
    }
    .portfolio-btn.active::after {
        content: '';
        position: absolute;
        left: 45%;
        top: 30px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: var(--main-color);
    }
    .portfolio-btn:hover:active{
        color: var(--main-color);
    }
    .portfolio-btn:hover:active::after {
        content: '';
        position: absolute;
        left: 45%;
        top: 30px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: var(--main-color);
    }
.container-portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
    .w-3 {
        grid-column: span 2;
    }
    .h-2 {
        grid-row: span 2;
    }
    .h-1 {
        grid-row: span 1;
    }
    .h-3 {
        grid-row: span 3;
    }

.gallery-item{
    position: relative;
    overflow: hidden;
}
    .gallery-item.hidden{
        display: none;
    }

.port-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
    .port-image > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        border: 1px solid #f4f5f8;
        border-radius: 5px;
    }
    
.portfolio-hover {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffffcc;
    transition: all 0.4s ease-in;
    opacity: 0;
    border-radius: 3px;
    z-index: 10;
    overflow: hidden;
}
    .portfolio-hover:hover {
        opacity: 1;
    }
        .gallery-item .portfolio-hover::after{
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: -150%;
            width: 50%;
            height: auto;
            background-color: #d8d8d8a4;
            transform: skew(45deg);
            transition: all 0.8s ease-in-out;
            z-index: -1;
            border: solid 1px var(--main-color);
        }
            .portfolio-hover:hover::after{
                right: 160%;
            }

        .portfolio-hover-links {
            display: inline-block;
            transform: translateY(150%);
            width: 100%;
            height: auto;
            transition: all 0.4s ease-in-out;
        }
            .portfolio-hover:hover .portfolio-hover-links{
                transform: translateY(0%);
            }

        .portfolio-hover-links > h5 {
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            letter-spacing: 0.1em;
            width: 100%;
            font-size: 15px;
            margin-bottom: 30px;
            /* margin-bottom sumazinti su responsive ??  */
        }
        .portfolio-hover-links > a {
            text-decoration: none;
            color: var(--main-color);
            width: 30px;
            height: 30px;
            padding: 5px;
            margin: 0 10px;
        }
            .portfolio-hover-links > a:hover{
                color: var(--clients-text-color);
            }
            .portfolio-hover-links > a > i{
                transform: rotate(-45deg);
            }

@media (max-width: 780px) {
    .container-portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery-item.w-3.h-3 {
        grid-column: span 1;
        grid-row: span 2;
    }
}
@media (max-width: 680px) {
    .container-portfolio {
        grid-template-columns: 1fr;
    }
}