.container.skills {
    background: var(--background-color);
}
    .container.skills .skills-bars:nth-of-type(1){
        padding-left: 15px;
    }
    .container.skills .skills-bars:nth-of-type(2){
        padding-right: 15px;
    }
    .progress-bar {
        width: 100%;
        position: relative;
    }
        .progress-bar .label {
            font-size: 13px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 20px;
            margin-bottom: 10px;
        }
        .progress-bar .pbar {
            position: relative;
            width: 100%;
            height: 5px;
            border-radius: 3px;
            margin-bottom: 25px;
            background-color: #fff;
        }
            .pbar .loading {
                width: 73%;
                background-color: var(--main-color);
                animation: loading 2s forwards;
            }
            .pbar .bar-value {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                bottom: -12px;
                width: 30px;
                height: 30px;
                background-color: #fff;
                color: var(--main-color);
                font-size: 13px;
                font-weight: 500;
                border-radius: 5px;
                margin-top: 5px;
                animation: value 0.8s forwards;
            }

@keyframes loading {
    0% {
        width: 0;
    }
    100%{
        width: 100%;
    }
}
@keyframes value {
    0% {
        left: 0;
    }
    100% {
        left: 95%;
    }
}

@media (max-width: 680px) {
    .container {
        grid-template-columns: 20px 1fr 20px;
    }
    .container.skills > .row {
        gap: 0;
    }
    .container.skills .skills-bars:nth-of-type(2) {
        padding-right: 0;
    }
}